body {
    //background-color: $bg-primary;
    font-family: 'Roboto Mono', sans-serif;
    color: $off-white;
    background: linear-gradient(-45deg, #020812, #000307, #1b0e35, rgb(123, 174, 240));
	background-size: 400% 400%;
	animation: gradient 35s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mr-3 {
    margin-right: 3rem;
}

.global-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.txt-blue {
    color: $text-blue;
}

.list-style-position-inside {
	list-style-position: inside;
}

.box-shadow {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

