body {
    //background-color: $bg-primary;
    font-family: 'Oswald', sans-serif;
    color: $off-white;
    background: linear-gradient(-45deg, #0742a8, #020812, #1b0e35, #72649b);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mr-3 {
    margin-right: 3rem;
}

.global-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.txt-blue {
    color: $text-blue;
}

.box-shadow {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}