body {
    background-color: $bg-primary;
    font-family: 'Noto Sans', sans-serif;
    color: $off-white;
}

.mr-3 {
    margin-right: 3rem;
}

.global-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.txt-blue {
    color: $text-blue;
}

.box-shadow {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}